### Строки. Условия и циклы

Задача: реализовать тестирование пользователя по пройденному материалу.


Требования:

Программа выводит в консоль текст загадок по одной и ждет ввода ответа от пользователя.

Программа после ввода ответа пользователя должна вывести в консоль результат. Если пользователь дал правильный ответ, то программа должна написать "Ответ {ОТВЕТ_ПОЛЬЗОВАТЕЛЯ} верен". Вместо "{ОТВЕТ_ПОЛЬЗОВАТЕЛЯ}" необходимо подставить ответ, введенный пользователем. Если пользователь ввел неправильный ответ, то программа должна написать "Неверный ответ." и задать вопрос снова, пока пользователь не введет правильный ответ.

Программа задает пользователю 10 вопросов.

Примеры вопросов и правильных ответов для работы:

«Какая версия языка сейчас актуальна?» – «Python3»
«Какая кодировка используется в строках?» – «UTF8»
«Сколько значений есть у bool?» – «2»
Остальные, нужно придумать самостоятельно (из пройденного материала).


Дополнительные требования:

Программа должна в конце игры сказать, сколько ответов дал пользователь: сколько из них было верных.
Программа должна не учитывать регистр ответа пользователя, например: "utf8" и "UTF8" оба должны быть правильным ответом на вопрос "Какая кодировка используется в строках?"

In [77]:
import pandas as pd

In [78]:
df = pd.read_csv('Вопросы.csv',sep=";", encoding='cp1251')

In [79]:
df

     Вопрос    Ответ  Кол_попыток
0  вопрос_1  ответ 1          NaN
1  вопрос_2  отВет 2          NaN
2  вопрос_3  ОТВЕТ 3          NaN

In [80]:
# к нижнему регистру
df['Ответ'] = df['Ответ'].str.lower()

In [81]:
step = 0
while step < len(df.index):
    # print(step)
    print('Вопрос ',step + 1)
    answ_corr = False
    count_try = 1
    while not answ_corr:  
        answ = input('Введите ответ:')
        answ = answ.lower()
        if answ == df['Ответ'].loc[df.index[step]]:
            df.at[step, 'Кол_попыток'] = count_try
            answ_corr = True
        else: 
            print('Еще раз') 
            count_try += 1
                    
    step += 1
df

Вопрос  1

Введите ответ: ответ 1

Вопрос  2

Введите ответ: ответ 2

Вопрос  3

Введите ответ: ответ 3

     Вопрос    Ответ  Кол_попыток
0  вопрос_1  ответ 1          1.0
1  вопрос_2  ответ 2          1.0
2  вопрос_3  ответ 3          1.0